.ko-tagger {
  padding: 0 0 3px 3px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}

.ko-tagger.disabled {
  background-color: #f8f8f8;
}

.ko-tagger,
.ko-tagger-tag {
  border-radius: 3px;
}

.ko-tagger-remove {
  color: #888;
  font-weight: bold;
}

.ko-tagger-input,
.ko-tagger-tag {
  float: left;
  margin: 3px 3px 0 0;
  padding: 5px;
}

.ko-tagger-input {
    min-width: 10px;
    max-width: 100%;
    background-color: #fff;
    border: none;
    padding-left: 5px;
}

.ko-tagger-input:focus {
  outline: none;
}

.ko-tagger-tag {
  /* border: 1px solid #ccc; */
  background-color: #eee;
  cursor: pointer;
}

.ko-tagger-clear {
  clear: both;
}

.ko-tagger-options {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 3px;
  margin-left: -3px;
  z-index: 100;
  max-height: 200px;
  overflow: auto;
  width: 100%;
}

.ko-tagger-top .ko-tagger-options,
.ko-tagger-options.ko-tagger-top {
  bottom: 30px;
}

.ko-tagger-option {
  padding: 5px 10px;
  cursor: pointer;
}

.ko-tagger-option:last-child {
  padding-bottom: 5px;
}

.ko-tagger-option:hover {
  background-color: #eee;
}

.ko-tagger-option.selected,
.ko-tagger-option.selected:hover {
  background-color: #ddd;
}
